* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f6f8;
}

.header {
  background-color: #808080;
  color: #00ffff;
  padding: 20px;
  font-size: 10px;
  text-align: center;
}

.container {
  display: flex;
  padding: 15px;
  gap: 15px;
}

.video_section {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.video_box {
  background-color: black;
  color: white;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.side_panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.panel h3 {
  margin-bottom: 8px;
  color: #00ffff;
}

.screen_share {
  height: 120px;
  background-color: #d1d5db;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.file_list {
  list-style: none;
}

.file_list li {
  padding: 5px;
  border-bottom: 1px solid #c0c0c0;
}

.whiteboard {
  height: 120px;
  background-color: #fff;
  border: 2px dashed #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  background-color: #808080;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.controls button {
  margin: 5px;
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.controls button svg {
  width: 20px;
}

.leave {
  background-color: red;
  color: white;
}
@media (max-width: 600px) {
  .video_section {
    flex: 2;
    grid-template-columns: repeat(1, 1fr);
  }
  .video_box {
    height: 165px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .video_section {
    flex: 2.5;
  }
}
